# Python cache
**/_pycache_/
*.pyc
*.pyo

# Python virtual environments
**/.venv/
**/venv/
.env

# Node modules
**/node_modules/

# Yarn Berry
**/.yarn/
.pnp.*
**/.yarnrc.yml

# macOS files
**/.DS_Store

# Markdown
*.md